// LIGHT

  // BACKGROUND

  $bg-primary : #f4fff7;
  $bg-primary-hover : #eaf6ee;
  $bg-primary-active : #becec6;

  $bg-secondary : #cfe9da;
  $bg-secondary-hover : #ddf7e8;
  $bg-secondary-active : #e7fff2;


  // TEXTE

  $text-primary : #002116;
  // $text-primary-hover : #003828;
  // $text-primary-active : #003828;

  $text-secondary : #4c6358;
  $text-secondary-hover : #647c71;
  $text-secondary-active : #7e968a;


  // BUTTON / ALERT
  $bg-button : #006c4f;
  $bg-button-hover : #008865;
  $bg-button-active : #00a47b;

  $bg-alert : #ba1a1a;
  // $bg-alert-hover : n'existe pas
  // $bg-alert-active : n'existe pas

  $text-button-alert : #ffffff;
  // $text-secondary-hover : n'existe pas
  // $text-secondary-active : n'existe pas


  // BORDURE

  $border : #707974;



